* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 40px;
}

.containers {
  border: 5px solid black;
  width: 1000px;
  margin: 40px auto;
  position: relative;
}

.sale {
  letter-spacing: 2px;
  display: inline-block;
  background-color: red;
  position: absolute;
  top: -30px;
  left: -36px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
}

.Add-to-cart {
  background-color: black;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
}
button:hover {
  background-color: white;
  color: black;
}

a:hover {
  text-decoration: none black;
}

.more-info {
  margin-bottom: 60px;
  display: block;
}

a {
  color: black;
}

.Converse {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

h4 {
  font-size: 22px;
}

.img-chucks {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* floats */

.product-info {
  /*(1200 - 300 - 80)*/
  flex: 1;
  margin-top: 20px;
}

.price {
  float: left;
}

.free-shipping {
  float: right;
}

.shipping {
  float: right;
}

.Product-list {
  margin-top: 20px;
  flex: 1;
}

/* floats end */

.list {
  list-style: square;
  margin-top: 30px;
}

.list:last-child {
  margin-bottom: 30px;
}

.chucks {
  font-weight: bold;
  margin-bottom: 30px;
}
.free {
  color: #7c7c7c;
  text-transform: uppercase;
}

.product-colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: -36px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
}
