* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

.container {
  border: 5px solid black;
  width: 1200px;
  margin: 40px auto;
  position: relative;
}

.sale {
  letter-spacing: 2px;
  display: inline-block;
  background-color: red;
  position: absolute;
  top: -30px;
  left: -36px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
}

.Add-to-cart {
  background-color: black;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
}
button:hover {
  background-color: white;
  color: black;
}

a:hover {
  text-decoration: none black;
}

a {
  color: black;
}

.Converse {
  text-align: center;
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

.product-info {
  /* (1200 - 300 - 80) */
  width: 390px;
  float: left;
  margin-right: 40px;
  padding-top: 30px;
}

.img-chucks {
  float: left;
  margin-right: 40px;
}

.price {
  float: left;
}

.free-shipping {
  float: right;
}

.shipping {
  float: right;
}

.Product-list {
  float: left;
  width: 410px;
  padding-top: 30px;
}

.list {
  list-style: square;
  margin-top: 30px;
}

.list:last-child {
  margin-bottom: 30px;
}

.chucks {
  font-weight: bold;
  clear: both;
}
.free {
  color: #7c7c7c;
  text-transform: uppercase;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: -36px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
}
